<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array/>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>운동 거리와 심박수 등의 기록을 건강 앱에서 확인할 수 있도록 데이터를 읽습니다.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>고스트러너에서 측정한 운동 기록을 건강 앱에 저장합니다.</string>
	<key>CFBundleDisplayName</key>
	<string>고스트러너</string>
</dict>
</plist>
